* .body {
    max-width: 80%;
}

.portfolio {
    background-color: aliceblue;
    padding: 50px;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
}

ul img {
    max-width: 100%;
}